---
kind: Service
apiVersion: v1
metadata:
  name: hello
spec:
  selector:
    app: hello
  ports:
    - port: 80
      targetPort: 8080
---
apiVersion: split.smi-spec.io/v1alpha1
kind: TrafficSplit
metadata:
  name: hello-canary
spec:
  service: hello
  backends:
    - service: hello-v1
      weight: 90
    - service: hello-v2
      weight: 10
